<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/register.css" />
  </head>
  <body>
    <h1 class="TableTitle">User CRUD</h1>
    <div class="CRUDTable">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>(123) 456-7890</td>
            <td>New York</td>
            <td>johndoe</td>
            <td>johndoe@example.com</td>
            <td>********</td>
            <td>
              <button class="EditItem">Edit</button>
              <button class="DeleteItem">Del</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jane</td>
            <td>Smith</td>
            <td>(987) 654-3210</td>
            <td>Los Angeles</td>
            <td>janesmith</td>
            <td>janesmith@example.com</td>
            <td>********</td>
            <td>
              <button class="EditItem">Edit</button>
              <button class="DeleteItem">Del</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="AddItem">Add Item</button>
    </div>
  </body>
</html>
